@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-size: 15px;
}

html {
  --orange: hsl(31, 77%, 52%);
  --light-cyan: hsl(184, 100%, 22%);
  --dark-cyan: hsl(179, 100%, 13%);
  --paragraph: hsla(0, 0%, 100%, 0.75);
  --btn: hsl(0, 0%, 95%);
  --lexend-deca: "Lexend Deca, sans-serif";
  --big-shoulders: "Big Shoulders, sans-serif";
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  margin: 0 auto;
}
