@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-size: 15px;
}

html {
  --orange: hsl(31, 77%, 52%);
  --light-cyan: hsl(184, 100%, 22%);
  --dark-cyan: hsl(179, 100%, 13%);
  --white: #fff;
  --paragraph: hsla(0, 0%, 100%, 0.75);
  --btn: hsl(0, 0%, 95%);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 60%;
}

.card {
  /* max-width: 400px; */
  background: tomato;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 60px 25px 25px 25px;
}

.card h2 {
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
  font-size: 1.9rem;
  padding: 15px 0;
}

.sedans {
  background: var(--orange);
  background-image: url("images/icon-sedans.svg");
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 20px 20px;
  border-radius: 5px 0 0 5px;
}

.suvs {
  background: var(--light-cyan);
  background-image: url("images/icon-suvs.svg");
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 20px 20px;
}

.luxury {
  background: var(--dark-cyan);
  background-image: url("images/icon-luxury.svg");
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 20px 20px;
  border-radius: 0px 5px 5px 0px;
}
